.floating-image-1 {
  animation: floatUpDown1 2s ease-in-out infinite;
}

@keyframes floatUpDown1 {
  0% {
    top: 120px;
  }
  50% {
    top: 130px;
  }
  100% {
    top: 120px;
  }
}

.floating-image-2 {
  animation: floatUpDown2 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes floatUpDown2 {
  0% {
    top: 120px;
  }
  50% {
    top: 130px;
  }
  100% {
    top: 120px;
  }
}

.floating-image-3 {
  animation: floatUpDown3 2s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes floatUpDown3 {
  0% {
    top: 180px;
  }
  50% {
    top: 190px;
  }
  100% {
    top: 180px;
  }
}

/* Animation Features Section */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInSlideUp 1s ease forwards;
}

.fade-in-left {
  opacity: 0;
  animation: fadeInSlideLeft 1s ease forwards;
}

.fade-in-down {
  opacity: 0;
  animation: fadeInSlideDown 1s ease forwards;
}

.fade-delay-2 {
  animation-delay: 1s;
}
.fade-delay-3 {
  animation-delay: 2s;
}
.fade-delay-4 {
  animation-delay: 1s;
}
.fade-delay-5 {
  animation-delay: 5ss;
}
